nav {
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  width: 82px;
  margin: 22px 30px;
}

/* general styling that may apply */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

section {
  padding: 0 20%;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  margin: 30px 47px 0;
}

.hero--title {
  font-size: 36px;
  margin-bottom: 16px;
}

.hero--text {
  font-size: 16px;
  margin: 0 0 30px 0;
  width: 50%;
}

.cards {
  display: flex;
  gap: 18px;
}

.card {
  width: 30%;
  margin-bottom: 30px;
  /* if you want none of the items to shrink
  width: 175px;
  flex: 0 0 auto; */
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--status {
  position: absolute;
  margin: 6px;
  padding: 5px 6px;
  background-color: white;
  border-radius: 2px;
  font-size: 12px;
}

.card--stats {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 8px 0;
}

.card > p{
  margin: 0 0 8px 0;
  overflow: hidden;  /* the overflow part of the content will be invisible*/
}

@media screen and (max-width: 1290px)  {
  section {
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .hero--text {
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}